<!-- header section -->
<div class="dashboard-container">
  <div class="row">
    @for (box of boxes; track box.name) {
    <div class="col-md-4">
      <mat-card class="top-card">
        <div class="card-body-wrapper">
          <div class="text-content">
            <span class="label-text">{{ box.name }}</span>
            <h1 class="main-count">{{ box.count }}</h1>
          </div>
          <div class="icon-section" [style.background-color]="box.color" [style.color]="box.iconColor">
            <span class="material-symbols-outlined">{{ box.icon }}</span>
          </div>
        </div>
        <div class="card-footer">
          <span class="material-symbols-outlined trend-icon">{{ box.trend }}</span>
          <span class="percentage-text">{{ box.percentage }}</span>
        </div>
      </mat-card>
    </div>
    }
  </div>
</div>


<!-- greenhouse status -->

<div class="section-header d-flex justify-content-between p-3">
  <h3>Greenhouse Status</h3>
  <a href="#">View All Units</a>
</div>

<div class="row px-3">
  @for (house of greenhousestatus; track house.title) {
  <div class="col-md-4 mb-4">
    <mat-card class="gh-card" [style.border-left-color]="house.borderColor">
      <mat-card-content>
        <div class="d-flex justify-content-between">
          <div>
            <h4 class="gh-title">{{ house.title }}</h4>
            <p class="gh-subtitle">{{ house.subtitle }}</p>
          </div>
          <span class="status-badge" [class.alert]="house.status === 'ALERT'">
            {{ house.status }}
          </span>
        </div>

        <div class="info-container d-flex gap-2 mt-3">
          <div class="info-box">
            <small>TEMPERATURE</small>
            <div class="value-row">
              <span class="material-symbols-outlined icon-temp">thermostat</span>
              <span class="value">{{ house.temp }}</span>
            </div>
          </div>
          <div class="info-box">
            <small>HUMIDITY</small>
            <div class="value-row">
              <span class="material-symbols-outlined icon-water">water_drop</span>
              <span class="value">{{ house.humidity }}</span>
            </div>
          </div>
        </div>

        <div class="gh-footer mt-4 d-flex justify-content-between">
          <small class="sync-text">{{ house.sync }}</small>
          <button mat-button color="primary" class="manage-btn">Manage</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  }
</div>



<!--  -->
