.container {
    font-family: sans-serif;
    background-color: #eef1f4;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.custom-progress{
  background-color: #e9ecef;   /* background of progress bar */
}

.custom-bar{
  background-color:darkgray;   /* actual progress color */
  color: white;
}

.card-proparties {
  height: 155px;
 box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.card-shadow {
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-content: center;
}
